@font-face {
  font-family: Kenyan-Coffee;
  src: url(Kenyan-Coffee.ttf.woff);
}

* {
  box-sizing: border-box;;
  font-family: Helvetica, sans-serif;

  color: #F7E6C3;
}

button {
  background-color: #20C5AE;
  border: 2px solid #F7E6C3;
  line-height: 30px;
  padding: 5px;
  width: 100px;
}

.imdb {
  font-family: Kenyan Coffee;
}

.color-1 {
  background-color: #20C5AE;
}

.color-2 {
  background-color: #FFB82A;
}

.color-3 {
  background-color: #3361CB;
}

.color-4 {
  background-color: #FF822A;
}

body {
  display: flex;
  justify-content: center;
  background-color: #898170;
}

section {
  display: flex;
  height: 100%
}

.box-grid {
  display: flex;
  flex-wrap: wrap;
  height: 673px;
  width: 675px;
}

.title-box {
  width: 450px;
  height: 225px;
  padding: 25px;
}

.grid {
  height: 225px;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 448px;
  height: 676px;
  background-image: url("images/myazaki.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

h1 {
  font-size: 25px;
margin: 15px 0px 15px 0px;
}

.title-copy {
  display: block;
  margin-bottom: 10px;
}

.icon {
  border-radius: 100%;
  filter: contrast(50%);

}




/*Wiki Button Link
https://fontmeme.com/permalink/170713/479d6e40b29f9c9c44d84b412c2733b8.png*/
